<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="filepath">./logs</Property>
	</Properties>
	<Appenders>
		<Console name="console-log">
			<PatternLayout pattern="%d{MM/dd/YYYY HH:mm:ss.SSS} %-5level [%t] %c{1} - %msg%n" />
		</Console>
		<RollingFile name="file-log" fileName="${filepath}/test-inventory-dashboard.log" filePattern="${filepath}/test-inventory-dashboard-%d{MMddYYYYHHmmssSSS}.log">
			<PatternLayout pattern="%d{MM/dd/YYYY HH:mm:ss.SSS} %-5level [%t] %c{1} - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="5000000" />
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root additivity="false">
			<AppenderRef ref="console-log" level="INFO"/>
			<AppenderRef ref="file-log" level="DEBUG"/>
		</Root>
	</Loggers>
</Configuration>