<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Verifico">
	<parameter name="environment" value="STAGING"></parameter>
	<listeners>
		<listener class-name="listeners.TestListener" />
	</listeners>
	<test name="Products" preserve-order="true" enabled="true">
		<parameter name="platform" value="CHROME"></parameter>
		<classes>
			<class name="test.login.TestLogin">
				<methods>
					<include name="createStandardProduct" description="Create Standard Product"></include>
				</methods>
			</class>
		</classes>
	</test>
</suite>